In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn import model_selection
from sklearn.metrics import classification_report
from sklearn.utils import shuffle
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn import datasets
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('Iris.csv')
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

#### 'Id' column of Dataset is being dropped because it is not needed.

In [3]:
df = df.drop(['Id'],axis=1)

## We have to encode the Species as 0 for Iris-setosa and 1 for the rest (Iris-Vesicolor and Virginica)

##### We create an empty array called Y, we are then going to use it to store the encoding values, i.e 0 where the specie is Iris-Setosa and 1 for both the remain species

In [4]:
Y = []
target = df['Species']

In [5]:
for val in target:
    if(val == 'Iris-setosa'):
        Y.append(0)
    else:
        Y.append(1)

In [6]:
Y

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1]

### since we have stored our encoding we can drop our Species column

In [7]:
df = df.drop(['Species'], axis=1)

In [8]:
X = df.values.tolist()
X

[[5.1, 3.5, 1.4, 0.2],
 [4.9, 3.0, 1.4, 0.2],
 [4.7, 3.2, 1.3, 0.2],
 [4.6, 3.1, 1.5, 0.2],
 [5.0, 3.6, 1.4, 0.2],
 [5.4, 3.9, 1.7, 0.4],
 [4.6, 3.4, 1.4, 0.3],
 [5.0, 3.4, 1.5, 0.2],
 [4.4, 2.9, 1.4, 0.2],
 [4.9, 3.1, 1.5, 0.1],
 [5.4, 3.7, 1.5, 0.2],
 [4.8, 3.4, 1.6, 0.2],
 [4.8, 3.0, 1.4, 0.1],
 [4.3, 3.0, 1.1, 0.1],
 [5.8, 4.0, 1.2, 0.2],
 [5.7, 4.4, 1.5, 0.4],
 [5.4, 3.9, 1.3, 0.4],
 [5.1, 3.5, 1.4, 0.3],
 [5.7, 3.8, 1.7, 0.3],
 [5.1, 3.8, 1.5, 0.3],
 [5.4, 3.4, 1.7, 0.2],
 [5.1, 3.7, 1.5, 0.4],
 [4.6, 3.6, 1.0, 0.2],
 [5.1, 3.3, 1.7, 0.5],
 [4.8, 3.4, 1.9, 0.2],
 [5.0, 3.0, 1.6, 0.2],
 [5.0, 3.4, 1.6, 0.4],
 [5.2, 3.5, 1.5, 0.2],
 [5.2, 3.4, 1.4, 0.2],
 [4.7, 3.2, 1.6, 0.2],
 [4.8, 3.1, 1.6, 0.2],
 [5.4, 3.4, 1.5, 0.4],
 [5.2, 4.1, 1.5, 0.1],
 [5.5, 4.2, 1.4, 0.2],
 [4.9, 3.1, 1.5, 0.1],
 [5.0, 3.2, 1.2, 0.2],
 [5.5, 3.5, 1.3, 0.2],
 [4.9, 3.1, 1.5, 0.1],
 [4.4, 3.0, 1.3, 0.2],
 [5.1, 3.4, 1.5, 0.2],
 [5.0, 3.5, 1.3, 0.3],
 [4.5, 2.3, 1.3, 0.3],
 [4.4, 3.2, 1.3, 0.2],
 [5.0, 3.5, 1.6, 0.6],
 [5.1, 3.8, 1.9, 0.4],
 [4.8, 3.0, 1.4, 0.3],
 [5.1, 3.8, 1.6, 0.2],
 [4.6, 3.2, 1.4, 0.2],
 [5.3, 3.7, 1.5, 0.2],
 [5.0, 3.3, 1.4, 0.2],
 [7.0, 3.2, 4.7, 1.4],
 [6.4, 3.2, 4.5, 1.5],
 [6.9, 3.1, 4.9, 1.5],
 [5.5, 2.3, 4.0, 1.3],
 [6.5, 2.8, 4.6, 1.5],
 [5.7, 2.8, 4.5, 1.3],
 [6.3, 3.3, 4.7, 1.6],
 [4.9, 2.4, 3.3, 1.0],
 [6.6, 2.9, 4.6, 1.3],
 [5.2, 2.7, 3.9, 1.4],
 [5.0, 2.0, 3.5, 1.0],
 [5.9, 3.0, 4.2, 1.5],
 [6.0, 2.2, 4.0, 1.0],
 [6.1, 2.9, 4.7, 1.4],
 [5.6, 2.9, 3.6, 1.3],
 [6.7, 3.1, 4.4, 1.4],
 [5.6, 3.0, 4.5, 1.5],
 [5.8, 2.7, 4.1, 1.0],
 [6.2, 2.2, 4.5, 1.5],
 [5.6, 2.5, 3.9, 1.1],
 [5.9, 3.2, 4.8, 1.8],
 [6.1, 2.8, 4.0, 1.3],
 [6.3, 2.5, 4.9, 1.5],
 [6.1, 2.8, 4.7, 1.2],
 [6.4, 2.9, 4.3, 1.3],
 [6.6, 3.0, 4.4, 1.4],
 [6.8, 2.8, 4.8, 1.4],
 [6.7, 3.0, 5.0, 1.7],
 [6.0, 2.9, 4.5, 1.5],
 [5.7, 2.6, 3.5, 1.0],
 [5.5, 2.4, 3.8, 1.1],
 [5.5, 2.4, 3.7, 1.0],
 [5.8, 2.7, 3.9, 1.2],
 [6.0, 2.7, 5.1, 1.6],
 [5.4, 3.0, 4.5, 1.5],
 [6.0, 3.4, 4.5, 1.6],
 [6.7, 3.1, 4.7, 1.5],
 [6.3, 2.3, 4.4, 1.3],
 [5.6, 3.0, 4.1, 1.3],
 [5.5, 2.5, 4.0, 1.3],
 [5.5, 2.6, 4.4, 1.2],
 [6.1, 3.0, 4.6, 1.4],
 [5.8, 2.6, 4.0, 1.2],
 [5.0, 2.3, 3.3, 1.0],
 [5.6, 2.7, 4.2, 1.3],
 [5.7, 3.0, 4.2, 1.2],
 [5.7, 2.9, 4.2, 1.3],
 [6.2, 2.9, 4.3, 1.3],
 [5.1, 2.5, 3.0, 1.1],
 [5.7, 2.8, 4.1, 1.3],
 [6.3, 3.3, 6.0, 2.5],
 [5.8, 2.7, 5.1, 1.9],
 [7.1, 3.0, 5.9, 2.1],
 [6.3, 2.9, 5.6, 1.8],
 [6.5, 3.0, 5.8, 2.2],
 [7.6, 3.0, 6.6, 2.1],
 [4.9, 2.5, 4.5, 1.7],
 [7.3, 2.9, 6.3, 1.8],
 [6.7, 2.5, 5.8, 1.8],
 [7.2, 3.6, 6.1, 2.5],
 [6.5, 3.2, 5.1, 2.0],
 [6.4, 2.7, 5.3, 1.9],
 [6.8, 3.0, 5.5, 2.1],
 [5.7, 2.5, 5.0, 2.0],
 [5.8, 2.8, 5.1, 2.4],
 [6.4, 3.2, 5.3, 2.3],
 [6.5, 3.0, 5.5, 1.8],
 [7.7, 3.8, 6.7, 2.2],
 [7.7, 2.6, 6.9, 2.3],
 [6.0, 2.2, 5.0, 1.5],
 [6.9, 3.2, 5.7, 2.3],
 [5.6, 2.8, 4.9, 2.0],
 [7.7, 2.8, 6.7, 2.0],
 [6.3, 2.7, 4.9, 1.8],
 [6.7, 3.3, 5.7, 2.1],
 [7.2, 3.2, 6.0, 1.8],
 [6.2, 2.8, 4.8, 1.8],
 [6.1, 3.0, 4.9, 1.8],
 [6.4, 2.8, 5.6, 2.1],
 [7.2, 3.0, 5.8, 1.6],
 [7.4, 2.8, 6.1, 1.9],
 [7.9, 3.8, 6.4, 2.0],
 [6.4, 2.8, 5.6, 2.2],
 [6.3, 2.8, 5.1, 1.5],
 [6.1, 2.6, 5.6, 1.4],
 [7.7, 3.0, 6.1, 2.3],
 [6.3, 3.4, 5.6, 2.4],
 [6.4, 3.1, 5.5, 1.8],
 [6.0, 3.0, 4.8, 1.8],
 [6.9, 3.1, 5.4, 2.1],
 [6.7, 3.1, 5.6, 2.4],
 [6.9, 3.1, 5.1, 2.3],
 [5.8, 2.7, 5.1, 1.9],
 [6.8, 3.2, 5.9, 2.3],
 [6.7, 3.3, 5.7, 2.5],
 [6.7, 3.0, 5.2, 2.3],
 [6.3, 2.5, 5.0, 1.9],
 [6.5, 3.0, 5.2, 2.0],
 [6.2, 3.4, 5.4, 2.3],
 [5.9, 3.0, 5.1, 1.8]]

### since we want to split the data for training and testing, it is known that the dataset is divided into 50,50,50 per species. we want to shuffle the data before we can initiate this process

In [9]:
X, Y = shuffle(X,Y)

### We are going to split the data into 80% training and 20% testing

In [10]:
x_train = []
y_train = []
x_test = []
y_test = []

x_train, x_test, y_train, y_test = train_test_split(X, Y, train_size=0.8, test_size=0.2)

x_train = np.array(x_train)
y_train = np.array(y_train)
x_test = np.array(x_test)
y_test = np.array(y_test)

###### There are four features in dataset i.e. Sepal Length, Sepal Width, Petal Length, Petal Width. These features have been separated and stored in variables x_1, x_2, x_3 and x_4 respectively.

In [11]:
x_1 = x_train[:,0]
x_2 = x_train[:,1]
x_3 = x_train[:,2]
x_4 = x_train[:,3]

x_1 = np.array(x_1)
x_2 = np.array(x_2)
x_3 = np.array(x_3)
x_4 = np.array(x_4)

print(x_1.shape)
print(x_2.shape)
print(x_3.shape)
print(x_4.shape)

(120,)
(120,)
(120,)
(120,)

In [12]:
x_1 = x_1.reshape(120,1)
x_2 = x_2.reshape(120,1)
x_3 = x_3.reshape(120,1)
x_4 = x_4.reshape(120,1)

print(x_1.shape)
print(x_2.shape)
print(x_3.shape)
print(x_4.shape)

(120, 1)
(120, 1)
(120, 1)
(120, 1)

In [13]:


y_train = y_train.reshape(120,1)

In [14]:
model = LogisticRegression()
model.fit(x_train, y_train) #training model

C:\Users\Nando\Anaconda3\envs\tf\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

LogisticRegression()

In [15]:
y_pred = model.predict(x_test)

In [17]:
cm = confusion_matrix(y_test, y_pred)

In [18]:
cm

array([[11,  0],
       [ 0, 19]], dtype=int64)

Looking at the above confusion matrix result we can state that the model is likely to have a similar
precision and recall

In [16]:
print('Accuracy : ', accuracy_score(y_test,y_pred))

Accuracy :  1.0

In [21]:
print(y_pred)

print()

print(classification_report(y_test, y_pred))

[0 1 1 0 0 1 1 1 1 0 1 0 0 1 1 1 1 1 0 1 0 0 1 1 1 1 1 0 0 1]

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        11
           1       1.00      1.00      1.00        19

    accuracy                           1.00        30
   macro avg       1.00      1.00      1.00        30
weighted avg       1.00      1.00      1.00        30

## We can conclude that our predition is not off