In [33]:
#Reading from the csv

import pandas as pd
pakistan = pd.read_csv("Pakistan.csv"
                              ,encoding = 'unicode_escape'
)

In [34]:
#display the first 5 columns

pakistan.iloc[:,:5]

,S#,Date,Islamic Date,Blast Day Type,Holiday Type
0,1,November 19-1995,25 Jumaada al-THaany 1416 A.H,Holiday,Weekend
1,2,November 6-2000,10 SHa`baan 1421 A.H,Working Day,NaN
2,3,May 8-2002,25 safar 1423 A.H,Working Day,NaN
3,4,June 14-2002,3 Raby` al-THaany 1423 A.H,Working Day,NaN
4,5,July 4-2003,4 Jumaada al-awal 1424 A.H,Working Day,NaN
...,...,...,...,...,...
491,492,October 05-2017,13 MuHarram 1439 A.H,Working Day,NaN
492,493,October 19-2017,27 MuHarram 1439 A.H,Working Day,NaN
493,494,November 9-2017,19 Safar 1439 A.H,Working Day,NaN
494,495,November 24-2017,5 Rabi Al-Awwal 1439 A.H,Working Day,NaN
495,496,November 25-2017,6 Rabi Al-Awwal 1439 A.H,Working Day,NaN

In [37]:
#Get number of missing data points per column
# 
#Describe the dataframe
#
# pakistan.describe()

pakistan.isnull().sum(axis = 0)
#if we don't consider nan values then use the following
# num_missing = (pakistan.iloc[:,:] == 0).sum()

# report the results
#print(num_missing)

S#                           0
Date                         0
Islamic Date               154
Blast Day Type              10
Holiday Type               424
Time                       211
City                         0
Latitude                     3
Longitude                    3
Province                     0
Location                     3
Location Category           35
Location Sensitivity        36
Open/Closed Space           35
Influencing Event/Event    305
Target Type                 26
Targeted Sect if any        48
Killed Min                 146
Killed Max                  16
Injured Min                131
Injured Max                 32
No. of Suicide Blasts       82
Explosive Weight (max)     324
Hospital Names             199
Temperature(C)               5
Temperature(F)               7
dtype: int64

In [20]:
#Looking at the first 10 columns 
pakistan.head(10)
# the reason why I think we have missing data on the top three columns: Islamic date, Holiday type and Time is because:
#The islamic calenda has 29 or 30 days per month. and of those specified days not everyday is a holiday in pakistan. With regards to time this must because of the difficulty in acurretly recording the time or trust issues between the source and the colector of the data.


#Missing Categories

# 1) Islamic Holiday:  - Missing Completely at random
# 2) Holiday Type: - Missing at random
# 3) Time: - Missing not at random =>

,S#,Date,Islamic Date,Blast Day Type,Holiday Type,Time,City,Latitude,Longitude,Province,...,Targeted Sect if any,Killed Min,Killed Max,Injured Min,Injured Max,No. of Suicide Blasts,Explosive Weight (max),Hospital Names,Temperature(C),Temperature(F)
0,1,November 19-1995,25 Jumaada al-THaany 1416 A.H,Holiday,Weekend,NaN,Islamabad,33.7180,73.0718,Capital,...,None,14.0,15.0,NaN,60,2.0,NaN,NaN,15.835,60.503
1,2,November 6-2000,10 SHa`baan 1421 A.H,Working Day,NaN,NaN,Karachi,24.9918,66.9911,Sindh,...,None,NaN,3.0,NaN,3,1.0,NaN,NaN,23.770,74.786
2,3,May 8-2002,25 safar 1423 A.H,Working Day,NaN,7:45 AM,Karachi,24.9918,66.9911,Sindh,...,Christian,13.0,15.0,20.0,40,1.0,2.5 Kg,1.Jinnah Postgraduate Medical Center 2. Civil ...,31.460,88.628
3,4,June 14-2002,3 Raby` al-THaany 1423 A.H,Working Day,NaN,11:10:00 AM,Karachi,24.9918,66.9911,Sindh,...,Christian,NaN,12.0,NaN,51,1.0,NaN,NaN,31.430,88.574
4,5,July 4-2003,4 Jumaada al-awal 1424 A.H,Working Day,NaN,NaN,Quetta,30.2095,67.0182,Baluchistan,...,Shiite,44.0,47.0,NaN,65,1.0,NaN,1.CMH Quetta \n2.Civil Hospital 3. Boland Medi...,33.120,91.616
5,6,December 25-2003,2 Thw al-Qi`dah 1424 A.H.,Holiday,Christmas/birthday of Quaid-e-Azam,1:40:00 PM/1:42:00 PM,Rawalpindi,33.6058,73.0437,Punjab,...,None,16.0,18.0,NaN,50,2.0,30kg in each car,1.District headquarters \nHospital,9.445,49.001
6,7,February 28-2004,8 MuHarram 1425 A.H,Working Day,NaN,NaN,Rawalpindi,33.6058,73.0437,Punjab,...,shiite,NaN,1.0,3.0,4,1.0,NaN,NaN,15.275,59.495
7,8,May 7-2004,18 Raby` al-awal 1425 A.H,Working Day,NaN,1:20:00/1:17:00 PM,Karachi,24.9918,66.9911,Sindh,...,shiite,14.0,15.0,96.0,200,1.0,2kg,Civil hospital,33.860,92.948
8,9,May 31-2004,NaN,Working Day,NaN,evening,Karachi,24.9918,66.9911,Sindh,...,Shiite,16.0,18.0,NaN,35,1.0,NaN,Civil hospital-Liaquat National hospital-Jinna...,31.605,88.889
9,10,June 3-2004,15 Raby` al-THaany 1425 A.H,Working Day,NaN,NaN,North waziristan,32.9746,70.1456,FATA,...,None,NaN,2.0,NaN,2,1.0,NaN,NaN,27.180,80.924